# This file currently contains a lot of commented-out hosts
# that refer to presumed eventual hosts that will live on AWS but don't yet exist
# As they get added, we'll uncomment them and the IPs will get populated from live AWS resources
# using the aws-fill-inventory command.

{{ __proxy1__ }}
{{ __proxy2__ }}

[proxy:children]
# Amazon EC2
proxy1
proxy2

[logproxy:children]
proxy

{{ __web5__ }} swap_size=1G

{{ __web6__ }} swap_size=1G

[webworkers:children]
# Amazon EC2
web5
web6

{{ __pgproxy2__ }}

{{ __rds_pg0__ }}

[remote_postgresql:children]
rds_pg0

[postgresql:children]
pgproxy2
remote_postgresql

{{ __couch6__ }}

{{ __couch7__ }}

{{ __couch8__ }}

[couchdb2:children]
couch6
couch7
couch8

[couchdb2_proxy:children]
couch6

{{ __rabbit2__ }}

[rabbitmq:children]
# Amazon EC2
rabbit2

{{ __kafka2__ }} kafka_broker_id=1

[zookeeper:children]
# Amazon EC2
kafka2

[kafka:children]
# Amazon EC2
kafka2

{{ __celery2__ }} swap_size=8G

[celery:children]
# Amazon EC2
celery2

{{ __pillow2__ }}

[pillowtop:children]
# Amazon EC2
pillow2

{{ __formplayer3__ }}

{{ __formplayer4__ }}

[formplayer:children]
# Amazon EC2
formplayer3
formplayer4

[formplayer:vars]
formplayer_efs_dns={{ aws_resources['formplayer-efs'] }}:/
cchq_uid=1026
cchq_gid=1027

{{ __redis2__ }}

[redis:children]
redis2

{{ __es4__ }} elasticsearch_node_name=es4-staging elasticsearch_node_zone=aws elasticsearch_master=true

{{ __es5__ }} elasticsearch_node_name=es5-staging elasticsearch_node_zone=aws elasticsearch_master=true

{{ __es6__ }} elasticsearch_node_name=es6-staging elasticsearch_node_zone=aws elasticsearch_master=true

{{ __es7__ }} elasticsearch_node_name=es7-staging elasticsearch_node_zone=aws elasticsearch_master=true

[elasticsearch:children]
# Amazon EC2
# old ES v2 hosts
# es4
# es5
# ES v7 hosts
es6
es7

[shared_dir_host:children]
redis2

{{ __control0__ }}

[control:children]
control0

[ansible_skip:children]
rds_pg0

[django_manage:children]
# Amazon EC2
web5
