{{ ansible_managed|comment }}

# Database administrative login by Unix domain socket
local   all             postgres                                peer

# TYPE  DATABASE        USER            ADDRESS                 METHOD

# Allow replication connections from localhost, by a user with the replication privilege.
local   replication     postgres                                peer

{% for entry in postgresql_hba_entries %}
{{ entry.contype|default('host') }}    {{ entry.databases|default('all') }}    {{ entry.users|default('all') }}    {% if entry.contype != 'local' %}{{ entry.netmask }}{% endif %}    {{ entry.method|default('md5') }}
{% endfor %}

{% if inventory_hostname in groups.get('citusdb_worker', []) %}
# Allow trust from localhost for pgbouncer
host    all             all             127.0.0.1/32            trust 
host    all             all             ::1/128                 trust
{% for host in groups.get('citusdb_master', []) %}
{% if host | ipaddr %}
host   all	all	{{ host }}/32   trust
{% else %}
host   all	all	{{ lookup('dig', host, wantlist=True)[0] }}/32	trust
{% endif %}
{% endfor %}
{% endif %}


{% if inventory_hostname in groups.main_dbs.0 and inventory_hostname not in groups.pg_standby %}
# For airflow exporter
host   airflow	all	{{ groups.airflow.0 }}/32   md5
{% endif %}
# "local" is for Unix domain socket connections only
local   all             all                                     peer

# IPv4 local connections:
host    all             all             127.0.0.1/32            md5

# IPv6 local connections:
host    all             all             ::1/128                 md5
