{{ __proxy2__ }}
{{ __proxy3__ }}

[proxy:children]
proxy2
proxy3

{{ __web2__ }}
{{ __web3__ }}
{{ __web4__ }} datadog_integration_tcp_check=yes
{{ __web5__ }}
{{ __web6__ }}
{{ __web7__ }}
{{ __web8__ }}
{{ __web9__ }}
{{ __web20__ }}
{{ __web21__ }}
{{ __web22__ }}
{{ __web23__ }}

{{ __web11__ }} datadog_integration_tcp_check=yes
{{ __web12__ }}
{{ __web13__ }}
{{ __web14__ }}
{{ __web15__ }}
{{ __web16__ }}

[logproxy:children]
proxy

[hq_webworkers:children]
web2
web3
web4
web5
web6
web7
web8
web9
web20
web21
web22
web23

[mobile_webworkers:children]
web11
web12
web13
web14
web15
web16

[webworkers:children]
hq_webworkers
mobile_webworkers

{{ __pgbouncer3__ }}

{{ __rds_pgmain0__ }}

{{ __rds_pgucr0__ }}

{{ __rds_pgshard1__ }}

{{ __rds_pgshard2__ }}

{{ __rds_pgshard3__ }}

{{ __rds_pgshard4__ }}

{{ __rds_pgshard5__ }}

{{ __rds_pgsynclog0__ }}

[remote_postgresql:children]
rds_pgmain0
rds_pgucr0
rds_pgshard1
rds_pgshard2
rds_pgshard3
rds_pgshard4
rds_pgshard5
rds_pgsynclog0

[postgresql:children]
pgbouncer3
remote_postgresql

[ansible_skip:children]
remote_postgresql

{{ __rabbit2__ }}

[rabbitmq:children]
rabbit2

[rabbitmq:vars]
swap_size=2G

{{ __kafka1__ }} kafka_broker_id=2

[zookeeper:children]
kafka1

[kafka:children]
kafka1

{{ __celery9__ }} rabbitmq_migration_bridge=true

{{ __celery10__ }} rabbitmq_migration_bridge=true

{{ __celery11__ }} rabbitmq_migration_bridge=true

{{ __celery12__ }}

{{ __celery_a__ }}

[celery:children]
celery9
celery10
celery11
celery12
celery_a

[celery:vars]
swap_size=8G

{{ __pillow1__ }}

[pillowtop:children]
pillow1

{{ __formplayer_b__ }}

[formplayer:children]
formplayer_b

[formplayer:vars]
swap_size=8G
formplayer_efs_dns={{ aws_resources['formplayer-efs'] }}:/
cchq_uid=1025
cchq_gid=1026


{{ __redis0__ }} swap_size=1G

[redis:children]
redis0

{{ __shareddir1__ }}

[shared_dir_host:children]
shareddir1

{{ __es20__ }} elasticsearch_node_name=es20 datavol_fstype=xfs

{{ __es21__ }} elasticsearch_node_name=es21 datavol_fstype=xfs

{{ __es22__ }} elasticsearch_node_name=es22 datavol_fstype=xfs

{{ __es23__ }} elasticsearch_node_name=es23

{{ __es24__ }} elasticsearch_node_name=es24

{{ __es25__ }} elasticsearch_node_name=es25

{{ __es26__ }} elasticsearch_node_name=es26

{{ __es27__ }} elasticsearch_node_name=es27

{{ __esmaster3__ }} elasticsearch_node_name=esmaster3

{{ __esmaster4__ }} elasticsearch_node_name=esmaster4

{{ __esmaster5__ }} elasticsearch_node_name=esmaster5

[es_master:children]
esmaster3
esmaster4
esmaster5

[es_master:vars]
elasticsearch_master=true
elasticsearch_data=false

[es_data:children]
es20
es21
es22
es23
es24
es25
es26
es27

[es_data:vars]
elasticsearch_node_zone=aws

[elasticsearch:children]
es_master
es_data

{{ __couch12__ }}
{{ __couch13__ }}
{{ __couch14__ }}

[couchdb2:children]
couch12
couch13
couch14

[couchdb2:vars]
swap_size=8G

{{ __couchproxy2__ }}

[couchdb2_proxy:children]
couchproxy2

{{ __control1__ }}

[control:children]
control1

{{ __djangomanage1__ }}

[django_manage:children]
djangomanage1
